body {
    margin: 0; 
}
a, a:hover, a:focus {
    text-decoration: none; 
}
img {
    max-width: 100%; 
}
.header {
    background: #f4f4f4; 
    margin-bottom: 15px; 
}
.header .navigation {
    display: flex;
    align-items: center; 
}
.header .container {
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.header .item {
    padding: 0 15px; 
}
.header a {
    color: #333; 
}
.block-clients {
    padding: 100px 0; 
}
.block-clients .block-title {
    margin-bottom: 30px; 
}
.block-clients .item {
    margin-bottom: 30px; 
    padding: 0 15px; 
    max-width: 20%; 
    width: 100%;
}
body {
    background-color: red; 
}
